@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <span class="text-white me-2">Hello, @context.User.Identity?.Name!</span>
        <button class="btn btn-sm btn-outline-light" @onclick="BeginLogout">Log out</button>
    </Authorized>
</AuthorizeView>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private void BeginLogout()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
